<header>
  <nav>
    <a href="/">Главная</a>
    <a href="#">Магазин</a>
    <a href=#>Форум</a>
    <a href=#>О нас</a>
  </nav>

  <div class="auth-container">
    <div id="auth" class="auth">
      <a href="#" id="auth-link">Войти</a>
      <div id="auth-menu" class="auth-menu">
        <a href="/authorization">Вход</a>
        <a href="#">Профиль</a>
        <a href="#">Мои бандлы</a>
        <a href="/uploadFile">Загрузить бандл</a>
        <a href="#" id="logout">Выйти</a>
      </div>
    </div>
  </div>
</header>