<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title th:text="${pageTitle}">Сайт</title>

  <!-- Общие стили -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Дополнительные стили от конкретной страницы -->
  <th:block th:replace="~{${fragmentPage}::extraStyles}"></th:block>
</head>
<body>
    <!-- Общий header -->
    <div th:replace="~{fragments/header::header}"></div>

    <!-- Контент страницы -->
    <div th:replace="~{${fragmentPage} :: content}"></div>

    <!-- Общий footer -->
    <div th:replace="~{fragments/footer::footer}"></div>

    <!-- Кнопка "Наверх" -->
    <button id="scrollToTop" class="scroll-to-top">&#8679;</button>

    <!-- Общие скрипты -->
    <script src="/js/loadFooter.js"></script>
    <script src="/js/scrollToTopBtn.js"></script>

    <!-- Скрипты страницы -->
    <th:block th:replace="~{${fragmentPage}::extraScripts}"></th:block>
</body>
</html>