<header>
  <nav>
    <a href="/">Главная</a>
    <a href="/store">Магазин</a>
    <a href=#>Форум</a>
    <a href=#>О нас</a>
  </nav>

  <div class="auth-container">
    <a href="/cart" id="cartRef">
      Корзина
      <span id="cart-badge">0</span>
    </a>
    <div id="auth" class="auth">
      <a href="#" id="auth-link">Войти</a>
      <div id="auth-menu" class="auth-menu">
        <a href="/authorization" id="authorizationRef">Вход</a>
        <a href="/secured/profile" id="profileRef">Профиль</a>
        <a href="#" id="myBundlesRef">Мои бандлы</a>
        <a href="/secured/uploadFile" id="uploadFileRef">Загрузить бандл</a>
        <a href="#" id="logoutRef">Выйти</a>
      </div>
    </div>
  </div>
</header>