.bundle-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.bundle-card {
  position: relative;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: box-shadow 0.3s;
}

.bundle-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.bundle-title {
  font-size: 1.4rem;
  margin: 0;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper img.active {
  opacity: 1;
}

.dot-indicators {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.4rem;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  transition: background 0.3s;
}

.dot.active {
  background: #007bff;
}

#render-on-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bundle-search {
  margin-bottom: 2rem;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
}

#sort-select, #max-elem-page{
  margin-top: 0.5rem;
  padding: 0.25rem;
  font-size: 1rem;
  align-items: center;
  max-width: 200px;
}

#max-elem-page {
  max-width: 50px;
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

#pagination button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

#pagination button:hover:not(:disabled) {
  background: #eee;
}

#pagination button.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

#pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-dots {
  padding: 0.4rem 0.6rem;
  color: #888;
}

.bundle-price {
  font-weight: bold;
  font-size: 1.2em;
  color: #2a9d8f;
  margin: 10px 0;
  display: none;
}

.btn-add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;
  min-width: 150px;
  display: none;
}

.btn-add-to-cart:hover {
  background-color: #0056b3;
}

.buy-wrapper {
  position: absolute;
  top: 50%;
  right: 15%;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.bundle-categories {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.category-badge {
  background-color: #eaf1ff;
  color:  #004a9f;
  border: 1px solid #b5d0ff;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
}