.form{
display:flex;
flex-direction: column;
width: 300px;
margin: auto;
}

/* Стили для области перетаскивания файлов */
.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.drop-area.hover {
    background-color: #f0f0f0;
}

.fileElem {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

.fileLabel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8cbbd3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.fileLabel:hover {
    background-color: #5ba1d3;
}

.fileList {
    list-style-type: none;
    padding-left: 0;
}

.fileList li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Стили для кнопки загрузки */
.uploadBtn {
    background-color: #8cbbd3;
    color: #ffffff;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top:20px;
    width:150px
}

.uploadBtn:hover {
    background-color: #5ba1d3;
}

/* Для обработки перетаскивания файлов */
.drop-area.dragover {
    background-color: #e1f7e1;
    border-color: #45a049;
}

.drop-area.dragover p {
    color: #45a049;
}

.form-label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
}

.form-input,
.form-textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #5ba1d3;
    box-shadow: 0 0 5px rgba(91, 161, 211, 0.5);
    outline: none;
}