<!-- content -->
<div th:fragment="content">
  <main>
    <form class="regForm" id=signInForm>
      <label for="userName">Имя пользователя</label>
      <input type="text" id="userName" name="userName" placeholder="Имя пользователя" required = "required">
      <label for="passw">Пароль</label>
      <input type="password" id="passw" name="password" placeholder="password***" required = "required">
      <button type="submit">Войти</button>
      <p>
        Нет аккаунта? - <a href="/registration">зарегестрируйтесь!</a>
      </p>
      <div class="msg"></div>
    </form>
  </main>
</div>

<!-- extraStyles -->
<th:block th:fragment="extraStyles">
  <link rel="stylesheet" href="/css/style_regAuth.css">
</th:block>

<!-- extraScripts -->
<th:block th:fragment="extraScripts">
  <script src="/js/authorization.js"></script>
  <script src="/js/messageUtils.js"></script>
</th:block>