<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${status == 'success' ? '🎉 Успешно!' : '⚠️ Ошибка'}"></title>

  <link rel="stylesheet" href="/css/style_message_page.css">
</head>
<body>
<div class="message-container">
  <div class="message-card">
    <h1 th:text="${status == 'success' ? '🎉 Успешно!' : '⚠️ Ошибка'}"></h1>
    <p th:text="${message}"></p>

    <div class="error-actions">
      <a href="/" class="btn">На главную</a>

      <a href="/authorization"
         th:if="${errorCode == 401 || errorCode == 403}"
         class="btn secondary">
        Войти
      </a>

      <a href="/secured/profile"
         th:if="${errorCode == 428}"
         class="btn secondary">
        Профиль
      </a>

      <a href="#"
         class="btn secondary"
         id="backLink">
        Назад
      </a>

      <script>
        const backLink = document.getElementById('backLink');

        if (history.length > 1) {
          backLink.addEventListener('click', function (e) {
            e.preventDefault();
            history.back();
          });
        } else {
          backLink.style.display = 'none';
        }
      </script>

    </div>

  </div>
</div>
</body>
</html>