<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style_regAuth.css">
</head>
<body>
<div id="header-placeholder"></div>
<main>
  <form class="regForm" id=signUpForm>
    <label for="userName">Имя Пользователя</label>
    <input type="text" id="userName" name="userName" placeholder="Имя пользователя" required = "required">

    <label for="email">Электронная почта</label>
    <input type="email" id="email" name="email" placeholder="example@mail.com" required = "required">

    <label for="passw">Пароль</label>
    <input type="password" id="passw" name="passw" placeholder="password***" required = "required">

    <label for="passwConf">Подтверждение пароля</label>
    <input type="password" id="passwConf" name="passwConf" placeholder="Confirm password***" required = "required">

    <button type="submit">Зарегестрироваться</button>
    <p>
      Уже есть аккаунт? - <a href="/authorization">авторизируйтесь!</a>
    </p>
  </form>
</main>
<div id="footer-placeholder"></div>

<script src="/js/loadHeader.js"></script>
<script src="/js/loadFooter.js"></script>
<script src="/js/registration.js"></script>
</body>
</html>