<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>

    <link rel="stylesheet" href="/css/style_regAuth.css">
</head>
<body>
<main>
    <form class="regForm" id=changeForgotPasswordForm>
        <input type="hidden" name="token" id="token" th:value="${token}">

        <label for="passw">Пароль</label>
        <input type="password" id="passw" name="passw" placeholder="password***" required = "required">

        <label for="passwConf">Подтверждение пароля</label>
        <input type="password" id="passwConf" name="passwConf" placeholder="Confirm password***" required = "required">

        <button type="submit">Сменить</button>

        <div class="msg"></div>
    </form>
</main>

<script src="/js/changeForgotPassword.js"></script>
<script src="/js/messageUtils.js"></script>
<script src="/js/userUpdateUtils.js"></script>
</body>
</html>