<!-- content -->
<div th:fragment="content">
  <main>
    <div id="bundle-search-container" class="bundle-container">
      <input
              type="text"
              id="bundle-search"
              class="bundle-search"
              placeholder="Поиск по названию..."
      >
      <div id="categories-filter" class="filter-card">
        <h4>Категории</h4>
        <div id="categories-tree">Загрузка...</div>
        <div class="filter-actions">
          <button id="clear-categories">Сбросить</button>
        </div>
      </div>

      <div id="render-on-page">
        <div class="render-control">
          <label for="sort-select">Сортировка:</label>
          <select id="sort-select" class="sort-select">
            <option value="name">по названию</option>
            <option value="date_desc">сначала новее</option>
            <option value="date_asc">сначала старее</option>
          </select>
        </div>

        <div class="render-control">
          <label for="max-elem-page">Элементов на странице:</label>
          <select id="max-elem-page">
            <option value="12" selected>12</option>
            <option value="24">24</option>
            <option value="48">48</option>
            <option value="96">96</option>
          </select>
        </div>
      </div>
    </div>
    <div id="bundle-list" class="bundle-container"></div>
    <div id="pagination"></div>
  </main>
</div>

<!-- extraStyles -->
<th:block th:fragment="extraStyles">
  <link rel="stylesheet" href="/css/style_store.css">
  <link rel="stylesheet" href="/css/style_categories.css">
</th:block>

<!-- extraScripts -->
<th:block th:fragment="extraScripts">
  <script src="/js/myBundlesOperations.js"></script>
  <script src="/js/cart-button.js"></script>
  <script src="/js/fetchCategoriesAndRender.js"></script>
  <script src="/js/bundle-list.js"></script>
</th:block>