<!-- content -->
<div th:fragment="content">
    <main>
        <form id="uploadForm" class="form">
            <label class="form-label" for="name">Название:</label>
            <input type="text"
                   name="name"
                   id="name"
                   class="form-input"
                   th:attr="required=${requiredAllInputs}"
                   >

            <label class="form-label" for="description">Описание:</label>
            <textarea name="description"
                      id="description"
                      rows="4"
                      class="form-textarea"
                      th:attr="required=${requiredAllInputs}"></textarea>

            <label class="form-label" for="price">Цена (₽):</label>
            <input
                    type="number"
                    name="price"
                    id="price"
                    class="form-textarea"
                    step="0.5"
                    min="0"
                    placeholder="Введите цену"
                    th:attr="required=${requiredAllInputs}"
            />

            <br>
            <br>

            <div id="categories-filter" class="filter-card">
                <h4>Категории</h4>
                <div id="categories-tree">Загрузка...</div>
                <div class="filter-actions">
                    <button id="clear-categories">Сбросить</button>
                </div>
            </div>

            <br>
            <br>

            <!-- Drag & Drop для одного bundle файла -->
            <div id="bundle-drop-area" class="drop-area">
                <p>Перетащите бандл в форматах .zip,.rar,.7z,.tar,.gz сюда или нажмите для выбора</p>
                <input type="file"
                       id="bundleInput"
                       name="bundleFile"
                       class="fileElem"
                       accept=".zip,.rar,.7z,.tar,.gz"
                       th:attr="required=${requiredAllInputs}"
                       >
                <label for="bundleInput" class="fileLabel">Выбрать файл</label>
            </div>
            <br>
            <div id="bundleFileName"></div>
            <br>

            <!-- Drag & Drop для нескольких изображений -->
            <div id="image-drop-area" class="drop-area">
                <p>Перетащите изображения в форматах png, jpeg, webp сюда или нажмите для выбора</p>
                <input type="file"
                       id="imageInput"
                       name="images"
                       class="fileElem"
                       accept="image/png,image/jpeg,image/webp"
                       multiple th:attr="required=${requiredAllInputs}">
                <label for="imageInput" class="fileLabel">Выбрать изображения</label>
            </div>
            <br>
            <ul id="imageList"></ul>

            <button type="submit" class="uploadBtn" th:text="${buttonText}">Загрузить</button>
        </form>
    </main>
</div>

<!-- extraStyles -->
<th:block th:fragment="extraStyles">
    <link rel="stylesheet" href="/css/style_uploadFiles.css">
    <link rel="stylesheet" href="/css/style_categories.css">
</th:block>

<!-- extraScripts -->
<th:block th:fragment="extraScripts">
    <script src="/js/fetchCategoriesAndRender.js"></script>
    <th:block th:if="${includeManageFileScript}">
        <script src="/js/manageFiles.js"></script>
    </th:block>

    <th:block th:if="${includeEditFileScript}">
        <script src="/js/editBundle.js"></script>
    </th:block>

    <script src="/js/dragOverHandler.js"></script>
</th:block>