<!-- content -->
<div th:fragment="content">
    <main>
        <form id="uploadForm" class="form">
            <label class="form-label" for="name">Название:</label>
            <input type="text" name="name" id="name" class="form-input" required>

            <label class="form-label" for="description">Описание:</label>
            <textarea name="description" id="description" rows="4" class="form-textarea" required></textarea>

            <label class="form-label" for="price">Цена (₽):</label>
            <input
                    type="number"
                    name="price"
                    id="price"
                    class="form-textarea"
                    step="0.01"
                    min="0"
                    placeholder="Введите цену"
                    required
            />

            <br>
            <br>

            <div id="categories-filter" class="filter-card">
                <h4>Категории</h4>
                <div id="categories-tree">Загрузка...</div>
                <div class="filter-actions">
                    <button id="clear-categories">Сбросить</button>
                </div>
            </div>

            <br>
            <br>

            <!-- Drag & Drop для одного bundle файла -->
            <div id="bundle-drop-area" class="drop-area">
                <p>Перетащите бандл в форматах .zip,.rar,.7z,.tar,.gz сюда или нажмите для выбора</p>
                <input type="file"
                       id="bundleInput"
                       class="fileElem"
                        accept=".zip,.rar,.7z,.tar,.gz"
                       required>
                <label for="bundleInput" class="fileLabel">Выбрать файл</label>
            </div>
            <br>
            <div id="bundleFileName"></div>
            <br>

            <!-- Drag & Drop для нескольких изображений -->
            <div id="image-drop-area" class="drop-area">
                <p>Перетащите изображения в форматах png, jpeg, webp сюда или нажмите для выбора</p>
                <input type="file"
                       id="imageInput"
                       class="fileElem"
                       accept="image/png,image/jpeg,image/webp"
                       multiple required>
                <label for="imageInput" class="fileLabel">Выбрать изображения</label>
            </div>
            <br>
            <ul id="imageList"></ul>

            <button type="submit" class="uploadBtn">Загрузить</button>
        </form>
    </main>
</div>

<!-- extraStyles -->
<th:block th:fragment="extraStyles">
    <link rel="stylesheet" href="/css/style_uploadFiles.css">
    <link rel="stylesheet" href="/css/style_categories.css">
</th:block>

<!-- extraScripts -->
<th:block th:fragment="extraScripts">
    <script src="/js/fetchCategoriesAndRender.js"></script>
    <script src="/js/manageFiles.js"></script>
</th:block>