<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файла</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_uploadFiles.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <main>
        <div id="drop-area">
            <p>Перетащите файл сюда или нажмите для выбора файла</p>
            <input type="file" id="fileElem">
            <label for="fileElem" id="fileLabel">Выберите файл</label>
        </div>
        <button id="uploadBtn">Загрузить</button>
        <ul id="fileList"></ul>
    </main>
    <div id="footer-placeholder"></div>

    <script src="/js/loadHeader.js"></script>
    <script src="/js/loadFooter.js"></script>
    <script src="/js/uploadFiles.js"></script>
</body>
</html>